{% load staticfiles %}
<a href="https://twitter.com/SudoCypher"><img src="{% static "/images/social media icons/logo_twitter.png" %}"></a>
<a  href="https://github.com/sezingumus"><img class="giticon" src="{% static "/images/social media icons/logo_github.png" %}"></a>
<a href="https://www.linkedin.com/in/sezin-g-4a7103a6/"><img src="{% static "/images/social media icons/logo_linkedin.png" %}"></a>
<a href="https://www.instagram.com/sudo_cypher/"><img src="{% static "/images/social media icons/logo_instagram.png" %}"></a>
<a href="https://open.spotify.com/user/g2gqk8eq0o1qj0nf28o05dxdu/playlist/62giVBIKUAk7XpiX7kGBWs?si=6NEl4TG_Q7e-F5QQ1mUh4Q"><img src="{% static "/images/social media icons/logo_spotify.png" %}"></a>