
    <li class="nav-item"><a class="nav-link text-light"  href='/' style="font-size:25px"> <i class="fa fa-fw fa-home"></i> Home</a></li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle  text-light" style="font-size:25px" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Blogs</a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-light" style="font-size:25px" href="#">Computer Science</a>
          <a class="dropdown-item text-light" style="font-size:25px" href="#">Cyber Security</a>
          <a class="dropdown-item text-light" style="font-size:25px" href="#">Skating</a>
          <a class="dropdown-item text-light" style="font-size:25px" href="#">Other</a>
          <a class="dropdown-item text-light" style="font-size:25px" href="/blogs/">All</a>
        </div>
    </li>
    <li class="nav-item"><a class="nav-link  text-light" style="font-size:25px" href='/about/'>  <i class="fa fa-fw fa-user"></i> About Me</a></li>
    <li class="nav-item"><a class="nav-link  text-light" style="font-size:25px" href='/contact/'> <i class="fa fa-fw fa-envelope"></i> Contact</a></li>
    <li class="nav-item"><a class="nav-link  text-light" style="font-size:25px" href="/"><i class="fa fa-address-card"></i> References</a></li>

